{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
<div class="form-container-register">
    <h2>{{ user.username }}'s Profile</h2>

    <div class="profile-content">
        <div class="profile-header">
            {% if user.userprofile.profile_picture %}
                <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
            {% else %}
                <p>No Profile Picture</p>
            {% endif %}
            <div class="profile-stats">
                <h3> {{ user.username }}</h3>
                <p>Karma: {{ user.userprofile.karma }}</p>
                <p>Total Posts: {{ user.posts.count }}</p>
                <p>Member since: {{ user.date_joined|date }}</p>
            </div>
        </div>

        {% if user.userprofile.bio %}
            <div class="profile-bio">
                <h4>About Me </h4>
                <p>{{ user.userprofile.bio }}</p>
            </div>
        {% endif %}

        {% if user == request.user %}
            <a href="{% url 'edit_profile' %}" class="btn"> Edit Profile </a>
        {% endif %}

        <div class="user-post">
            <h3>Posts</h3>
            {% for post in posts %}
                <div class="post-card">
                    <h4><a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a></h4>
                    <p> Score: {{post.score}}</p>
                </div>
            {% empty %}
                <p>No posts yet.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}