{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantis Feed -{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon"  type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon"  type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="{% url 'posts:post_list' %}" class="logo">🌿 MantisFeed </a>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'posts:post_create' %}" class="btn">New Post</a>
                    <a href="{% url 'profile' %}" class="btn"> Profile</a>
                    
                    <form method="post"action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn"> <span>{{user.username}} ({{ user.userprofile.karma}})</span> | logout  </button>
                    </form>
                {% else %}
                <a href="{% url 'login' %}" class="btn"> Login </a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message message--{{ message.tags }}">
                    {{message}}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>

