{% extends 'posts/base.html' %}
{% block title %} Home {% endblock %}

{%block content %} 
<div class="post-container">

    <div class="content-section">
        <nav class="category-bar">
            <div class="category-container" aria-label="Category Navigation">
                <a href="{% url 'posts:post_list' %}" class="category-item {% if not selected_category %}active{% endif %}">
                    All Posts
                </a>
                {% for category in categories %}
                    <a href="{% url 'posts:post_list' %}?category={{ category.id }}" class="category-item {% if selected_category.id == category.id %}active{% endif %}">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        </nav>



        <section class="posts-main">
            {% for post in posts %}
                <article class="post-card">

                    <h2><a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a></h2>
                    <p>{{ post.content|truncatewords:50 }}</p>

                    <div class="post-meta">
                        <footer class="vote-section">
                            <a href="{% url 'posts:post_upvote' post.id %}" 
                            class="vote-link"
                           >
                            <span>⬆️ {{ post.score }} </span>
                            </a>
                            
                            <a href="{% url 'posts:comment_create' post.id %}" 
                            class="vote-link"
                            aria-label="comment on post">
                            💬 {{ post.comments.count }}
                            </a>
                            
                            <!--<a href="{% url 'posts:post_downvote' post.id %}" class="vote-link">⬇️</a> -->
                        </footer>

                        Posted by {{post.author.username}} | {{post.created_at|timesince}} ago 
                        {% if post.category %}
                        | Category {{post.category.name }} 
                        {% endif %}
                    </div>
                </article>
            {% empty %}
                <p>No posts yet!</p>
            {% endfor %}
        </section>
    </div>


    <aside class="side-bar">       
        <div class="post-card">
            <h3>Top Posts</h3>
            {% for post in top_posts %}
                <div class="top-post-item">
                    <div class="top-post-score">
                        <span>{{post.score}}</span>
                    </div>
                    <div class="top-post-content">
                        <div>
                            <a href="{% url 'posts:post_detail' post.id %}" class="top-post-title">
                                {{ post.title|truncatechars:50}}
                            </a>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr class="top-post-divider">
                {% endif %}
            {% empty %}
                <p class="no-post">No top Posts yet</p>
            {% endfor %}
        </div>
        <div class="post-card">
            <h3>Latest Tech News</h3>
            {% for article in news_articles %}
                <div class="top-post-item">
                    <div class="top-post-content">
                        <div>
                            <a href="{{ article.url }}" target="_blank" class="top-post-title">
                                {{ article.title|truncatechars:50}}
                            </a>
                            <p class="news-description"> {{ article.description|truncatechars:50}}</p>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr class="top-post-divider">
                {% endif %}
            {% empty %}
                <p class="no-post">No news available</p>
            {% endfor %}
        </div>
    </aside>
</div>   
{% endblock %}