{% extends 'posts/base.html' %}
{% block title %} Home {% endblock %}

{%block content %} 
<nav class="category_nav">
    <div class="category-nav-container">
        <ul class="category-list">
            <li><a href="{% url 'posts:post_list' %}" class="category-link {% if not selected_category %}active{% endif %}">
                All Posts
            </a></li>
            {% for category in categories %}
            <li>
                <a href="{% url 'posts:post_list' %}?category={{ category.id }}" class="category-link {% if selected_category.id == category.id %}active{% endif %}">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<div class="post-container">
    <div class="posts-main">
        {% for post in posts %}
            <article class="post-card">
                <div class="vote-section">
                    <a href="{% url 'posts:post_upvote' post.id %}" class="vote-link">⬆️</a>
                    <span>{{ post.score }}</span>
                    <a href="{% url 'posts:post_downvote' post.id %}" class="vote-link">⬇️</a>
                </div>
                <h2><a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a></h2>
                <p>{{ post.content|truncatewords:50 }}</p>
                <div class="post-meta">
                    Posted by {{post.author.username}} | {{post.created_at|timesince}} ago | {{post.comments.count}} comments
                </div>
            </article>
        {% empty %}
            <p>No posts yet!</p>
        {% endfor %}
    </div>
    <aside>
        <div class="post-card">
            <h3>Top Posts</h3>
            {% for post in top_posts %}
                <div class="top-post-item">
                    <div class="top-post-score">
                        <span> {{ post.score }}</span>
                    </div>
                    <div class="top-post-content">
                        <div>
                            <a href="{% url 'posts:post_detail' post.id %}" class="top-post-title">
                                {{ post.title|truncatechars:50}}
                            </a>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr class="top-post-divider">
                {% endif %}
            {% empty %}
            <p class="no-post">No top Posts yet</p>
            {% endfor %}
        </div>
    </aside>
</div>
{% endblock %}